{% extends 'base.html' %}
{% load static %}

    {% block content %}

  <body>

        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
           


            </div>
            <div class="col-12">
             
              <div class="card">
               
                <div class="table-responsive">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th>
                          <label class="customcheckbox mb-3">
                            <input type="checkbox" id="mainCheckbox" />
                            <span class="checkmark"></span>
                          </label>
                        </th>
                        <th scope="col">Id</th>
                        <th scope="col">Name App</th>
                        <th scope="col">Name User</th>
                        <th scope="col">Url</th>
                        <th scope="col">Date</th>
                     
                      </tr>
                    </thead>
                    <tbody class="customtable">
                      {% for recherche in liste_recherches %}
                      <tr>
                        <th>
                          <label class="customcheckbox">
                            <input type="checkbox" class="listCheckbox" />
                            <span class="checkmark"></span>
                          </label>
                        </th>
                        <td>{{recherche.id}}</td>
                        <td>{{recherche.title}}</td>
                        <td>{{recherche.user}}</td>
                        <td>https://play.google.com/store/apps/details?id={{recherche.url}}</td>
                        <td>{{recherche.time}}</td>
                      </tr>
                      {% endfor %}
                    
                    </tbody>
                  </table>
                </div>
              </div>
            
              
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->

{% endblock content %} 